{% extends 'adminpanel/layout.html' %}
{% block content %}
            <div class="content-page">
                <div class="content">
                    <div class="container-fluid">
                        <div class="row page-title">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb" class="float-right mt-1">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">WeberSparsh</a></li>
                                        <li class="breadcrumb-item"><a href="#">Forms</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Advanced</li>
                                    </ol>
                                </nav>
                                <h4 class="mb-1 mt-0">Manage Leave</h4>
                            </div>
                        </div>
                    </div>
                     
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="header-title mt-0 mb-1">All Leave</h4>
                                    <p class="sub-header">
                                        
                                    </p>

                                    <table id="selection-datatable" class="table dt-responsive " width='100%'>
                                        <thead>
                                            <tr>
                                                <th>Employee UserName</th>
                                                <th>Type</th>
                                                <th>Limit</th>
                                                <th>Reason</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    
                                    
                                        <tbody>
                                            {% for appliedleave in appliedleaves %}
                                                <tr>
                                                    <td>{{appliedleave.reference.username}}</td>
                                                    <td>{{appliedleave.leavetype.leavetype}}</td>
                                                    <td>{{appliedleave.subject}}</td>
                                                    <td>{{appliedleave.reason}}</td>
                                                  
                                                    <td>
                                                        {% if appliedleave.status == 0 %}
                                                            <span>UnApproved</span>
                                                            <button type="button" value="1" data-url="{% url 'approvedleave' appliedleave.id %}" id="approved_button" class="btn btn-success">Approve</button>
                                                        {% endif %}
                                                        {% if appliedleave.status == 1 %}
                                                            <span>Approved</span>
                                                            <button type="button" value="0" id="approved_button" data-url="{% url 'approvedleave' appliedleave.id %}"  class="btn btn-secondary">UnApprove</button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            
                                            
                                        </tbody>
                                    </table>
                                
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                </div> <!-- content -->
                <div class="modal fade" id="bs-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myExtraLargeModalLabel">Extra large modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                        </div>                                                
                    </div>
                </div>
            </div>


                

                
{% endblock  %}
{% block custom_script %}
<script> 
    $(document).on('click','#approved_button',function(){
        var btn = $(this);  
        $.ajax({
            url: btn.attr("data-url"),  // 
            type: 'get',
            dataType: 'json',
            beforeSend: function () {
            },
            success: function (data) {
                 window.location.reload()
            }
        });
    });
    </script>

{% endblock %}

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


     